<script lang="ts">
  import { accounts, CashFlow, cashFlows } from "../../store";
  import {
    unique,
    GenericColumn,
    formatColor,
    picker,
    formatMoney,
  } from "../../utils";
  import EditableTable from "../editableTable.svelte";
  import { lang, Language } from "../../lang/language";
  import { onDestroy } from "svelte";

  let text: Language;
  const unsubscribeLang = lang.subscribe((langData) => {
    text = langData;
  });
  onDestroy(unsubscribeLang);

  const columns: { [key in keyof CashFlow]: GenericColumn<CashFlow> } = {
    date: { name: text.date, type: "date", required: true },
    amount: {
      name: text.amount,
      type: "number",
      required: true,
      format: (val, _, __) => formatColor(val, formatMoney(val)),
    },
    label: {
      name: text.label,
      type: "string",
      required: true,
      filterable: true,
    },
    account: {
      name: text.account,
      type: "select",
      suggestions: Object.entries($accounts).map(
        ([_, account]) => account.name
      ),
      suggestions_keys: Object.keys($accounts),
      required: true,
      format: (id, _, __) => $accounts[id].name,
      filterable: true,
    },
    nature: {
      name: text.nature,
      type: "string",
      suggestions: [],
      required: true,
      filterable: true,
    },
    details: {
      name: text.details,
      type: "string",
      suggestions: [],
      required: true,
      filterable: true,
    },
    event: {
      name: text.event,
      type: "string",
      suggestions: [],
      required: true,
      filterable: true,
    },
    ref: { name: text.ref, type: "string", required: false, filterable: true },
    comment: {
      name: text.comment,
      type: "string",
      required: false,
      filterable: true,
    },
    in_out: {
      name: text.income + "/" + text.expense,
      type: "string",
      required: false,
      compute: (_, cashFlow, __) =>
        formatColor(
          cashFlow.amount,
          picker(cashFlow.amount, text.income, text.expense)
        ),
    },
  };

  const unsubscribe = cashFlows.subscribe((flows) => {
    let trackedKeys: (keyof CashFlow)[] = ["event", "nature", "details"];
    columns.event.suggestions = ["Sans event"];
    columns.nature.suggestions = [
      "Recettes hors événement",
      "Fonctionnement hors événement",
      "Produits destinés à la vente",
      "Produits offerts",
      "Promotion",
      "Matériel, technique et autres frais",
      "Coût des intervenants",
      "Ventes",
      "Entrées/PAF",
      "Sponsors",
      "Subsides",
      "Transfert d'argent",
    ];
    for (const key of trackedKeys) {
      columns[key].suggestions = columns[key].suggestions
        .concat(Object.values(flows).map((flow) => flow[key]))
        .filter(unique);
    }
  });
  onDestroy(unsubscribe);
</script>

<div class="card">
  <EditableTable
    tableName={text.cash_flow}
    dataStore={cashFlows}
    {columns}
    totalRow={false}
    colgroup={[{ width: "12%", span: "8" }]}
  />
</div>
