:root {
  --bg-color: #fff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #ff5000;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 160rem;
  --grid-gutter: 2rem;
  --font-size: 1.4rem;
  --font-color: #333;
  --font-family-sans: -apple-system, blinkmacsystemfont, avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

a {
  cursor: pointer;
}

.grouped.gapless {
  margin: 4px;
}

td,
th {
  padding: 0 0.6rem;
}

th {
  padding-top: 10px;
}

thead.total-row {
  text-align: center;
  font-size: large;
}

thead.total-row th {
  padding-bottom: 10px;
}

.card {
  padding: 0.5rem 2rem 10rem 2rem;
}

.table-vline {
  border-left: 1px solid lightgray;
}

.button {
  margin: 4px;
}

.button.icon-only {
  padding: 0.8rem;
}

input:invalid {
  border-color: var(--color-error) !important;
}

.money-export::after {
  content: " €";
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.separator {
  flex-basis: 100%;
  min-height: 2rem;
}

.nav {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px 0 var(--color-darkGrey);
  padding: 3rem;
}
